<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Presently</title>
</head>
<body class="index-page" id="about-page">
    <div>
        <nav>
            <a href="/meditations" class="close" tabindex="0" role="button">close</a>
        </nav>

    <h1 id="about-header">Our Inspiration</h1>
    <h6 class="about-description">Welcome to PRESENTLY, a place where you can find a variety of meditations designed to help you find presence and ground yourself in the present moment. Our app is a collection of carefully curated meditative practices that have been hand-selected to promote relaxation, mindfulness, and inner peace.<br><br>Our vision is to create a space where anyone can access the benefits of meditation and mindfulness, no matter their level of experience. We believe that everyone deserves to find stillness and calm in their lives, and our app is designed to help you do just that.<br><br> So whether you're new to meditation or an experienced practitioner, we invite you to join us on this journey of self-discovery and exploration. Our app is here to guide you on your path towards greater presence, peace, and inner fulfillment. Thank you for being a part of our community!</h6>
<footer>
    <div id="imginthefooter">
        <img src="https://presentlyvideos.s3.us-east-2.amazonaws.com/index.jpg">
    </div>
</footer>
    
    
</body>
</html>