<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Create a new Meditation</title>
</head>
<body>
    
    <div class="new-container" id="new-container">
    <h1 id="new-header">Create Your Zen</h1>
    <div class="new-form">
    <nav>
         <a href="/meditations" class="close" tabindex="0" role="button">close</a>
     </nav>
     <div class="new">
    <form action="/meditations" method="POST">
        <fieldset>
            <legend>Make it your own</legend>
            <br>
            <label for="name">NAME:</label><br>
             <input type="text" name="name" autocomplete="off" placeholder="NAME YOUR MEDITATION" required="true"/><br><br>
            <label for="name">DESCRIPTION:</label><br>
            <input type="text" name="description" autocomplete="off" placeholder="ADD DESCRIPTION" required="true"/><br><br>
            <label for="name">IMAGE:</label><br>
            <input type="url" name="img" autocomplete="off" placeholder="ADD IMAGE URL" required="true"/><br><br>
            <label for="name">DURATION:</label><br>
            <input type="number" name="duration" autocomplete="off" placeholder="APPROXIMATE DURATION IN MINUTES"/><br/><br><br>
            <input type="submit" value="Create"/>
    </fieldset>
    </form>
</div>
</div>
</div>
</body>
</html>