<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register Account</title>
  </head>
  <body>
    <h1 class="reg-headers" >Sign up</h1>

    <nav>
        <a href="/users" class="close" tabindex="0" role="button">close</a>
    </nav>
    <div class="reg-container">
      <form action="/users/register" method="POST">
        <fieldset>
          <legend>SIGN UP</legend>
        <!-- username -->
        <label for="username">USERNAME:</label>
        <input type="text" name="username" autocomplete="off" placeholder="NAME">

        <!-- email -->
          <label for="email">E-MAIL:</label>
          <input type="email" name="email" autocomplete="off" placeholder="E-MAIL">
          <!-- password -->
          <label for="password">PASSWORD:</label>
          <input type="password" name="password" autocomplete="off" placeholder="PASSWORD">
        </fieldset>
        <input class="signin-btn" type="submit" value="SUBMIT">
        </form>
      </div>
    </form>
  </body>
</html>