<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign in</title>
  </head>
  <body>
    <h1>Sign in</h1>

    <nav>
      <a href="/users">Back</a>
  </nav>

    <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username" autocomplete="off">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password" autocomplete="off">
      </fieldset>
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>