<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign in</title>
  </head>
  <body>
    <h1 class="reg-headers">Sign in</h1>
    <div class="reg-container">
    <div class="sidebar">
    <nav>
      <a href="/users" class="close" tabindex="0" role="button">close</a>
  </nav>
  <div class="registration" id="signin-form">
    <form action="/users/signin" method="POST">
      <fieldset>
        <legend>SIGN IN</legend>
        <br>
          <!-- user name -->
        <label for="text">USER NAME:</label><br>
        <input type="username" name="username" autocomplete="off" placeholder="USER NAME" required="true"> <br><br>
            <!-- email -->
            <label for="email">E-MAIL:</label><br>
            <input type="email" name="email" autocomplete="off" placeholder="E-MAIL"><br><br>       
        <!-- password -->
        <label for="password">PASSWORD:</label><br>
        <input type="password" name="password" autocomplete="off" placeholder="PASSWORD" required="true"><br><br><br><br>
      </fieldset>
      <input type="submit" value="SUMBIT">
      <br>

    </form>
    </div>
  </div>
  </div>
  </body>
</html>