<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Presenlty</title>
</head>
<body>
    
    <video id="background-video" autoplay loop muted poster="https://presentlyvideos.s3.us-east-2.amazonaws.com/leaves.jpeg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEC0aCXVzLXdlc3QtMSJHMEUCIGYWDKr0Py%2BHSyGeUlmeMYrcM06HAokMlsKAO7z8RDoTAiEAwWdZHgFNgn%2BKtI0UUpWwvzoCASyFcTOXWZYtPVsfh%2F4q7QII5v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw0OTEyNjM4MzM4NjIiDMyP%2B%2B%2Fyxfo014yl8SrBAhE9D5Q%2F87%2Bji6TmJ4E4r4o6HR%2FyyZHKD0xJ778IWqcqgzrg2qgJ%2BDt5%2BJZXtGxNI%2FGP3r5TOYPJcFv98vs4SxNi4P3jAFzAT7%2FVsIVrBFsXIg5y0WRh9tDsmL5yoY4rGT%2Fo3OJEuI2hl59MDiKY%2B1nOSWNodG%2FuiKcX35gp3z8gnK5%2Bpow8520YZSInVMnl6wHBNoBCxjfDge5fPEf4nGh6vQEd%2BPxlRFQ8XSTHExsPPsLS%2FfncJjs81IMws648NtokXiHxJ07rmK7k31fmwDCJ8xW6RbZcAGzPsofeF6J%2B9pADiEJfJhMMaqjX5VI5N41u%2FkWNVOFpN5nwTLhaRKugvbVphMrFkv2HouwXylwuA9nbyySTLunhNeoqzKOIKJg8WIZWWKdwaGoBHXnTIMnqbmfglpttalgh4WeF7ebE%2FTDNm8WgBjqzAsUba01tZ88SO6adyf5UHJlZSkzMCScG8VZJyp4OBxRuetYN62v3dAPKwxTDdkZ9HwgeVP5n2B549fqry2AGqPQWAY6eiagAJXM60bph1VESypZbVQ8nLXLZj0tmqmeaCHAFTVD6WBQ1YunTMC7UodfqZ%2B6U0JDFmok%2B6aw2UIoRv43aOetE0J5PEMN%2B8rBQ70Bhsq%2B1Sb2Dk7iCQ5vfXpDpXUutEbaX9ClQt%2FTziPp3pRjJDie9lQb%2B2jRBhiHX8DtGqdihgjcv7npgn2dA6WNKXFRaPJT8gY2S04agkRtn29PT783oXM125f%2BYEL96BWpwjldrQ7%2FqEaqy3vi8RB8ySB2Ol1SjRvNgvg0nqEsc2FrF7noggXPW4joW5aCKTa9zO6LoSskn%2FaXnVIFUJqzy56Y%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230315T051633Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAXEYM3G4DFNFHSAAZ%2F20230315%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=2b32806ab89ef8ca1c89ae20189b0aeab7caca30100b95b3c5d66cf80afed7cc">
        <source src="https://presentlyvideos.s3.us-east-2.amazonaws.com/leaves.mp4?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEC0aCXVzLXdlc3QtMSJHMEUCIGYWDKr0Py%2BHSyGeUlmeMYrcM06HAokMlsKAO7z8RDoTAiEAwWdZHgFNgn%2BKtI0UUpWwvzoCASyFcTOXWZYtPVsfh%2F4q7QII5v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw0OTEyNjM4MzM4NjIiDMyP%2B%2B%2Fyxfo014yl8SrBAhE9D5Q%2F87%2Bji6TmJ4E4r4o6HR%2FyyZHKD0xJ778IWqcqgzrg2qgJ%2BDt5%2BJZXtGxNI%2FGP3r5TOYPJcFv98vs4SxNi4P3jAFzAT7%2FVsIVrBFsXIg5y0WRh9tDsmL5yoY4rGT%2Fo3OJEuI2hl59MDiKY%2B1nOSWNodG%2FuiKcX35gp3z8gnK5%2Bpow8520YZSInVMnl6wHBNoBCxjfDge5fPEf4nGh6vQEd%2BPxlRFQ8XSTHExsPPsLS%2FfncJjs81IMws648NtokXiHxJ07rmK7k31fmwDCJ8xW6RbZcAGzPsofeF6J%2B9pADiEJfJhMMaqjX5VI5N41u%2FkWNVOFpN5nwTLhaRKugvbVphMrFkv2HouwXylwuA9nbyySTLunhNeoqzKOIKJg8WIZWWKdwaGoBHXnTIMnqbmfglpttalgh4WeF7ebE%2FTDNm8WgBjqzAsUba01tZ88SO6adyf5UHJlZSkzMCScG8VZJyp4OBxRuetYN62v3dAPKwxTDdkZ9HwgeVP5n2B549fqry2AGqPQWAY6eiagAJXM60bph1VESypZbVQ8nLXLZj0tmqmeaCHAFTVD6WBQ1YunTMC7UodfqZ%2B6U0JDFmok%2B6aw2UIoRv43aOetE0J5PEMN%2B8rBQ70Bhsq%2B1Sb2Dk7iCQ5vfXpDpXUutEbaX9ClQt%2FTziPp3pRjJDie9lQb%2B2jRBhiHX8DtGqdihgjcv7npgn2dA6WNKXFRaPJT8gY2S04agkRtn29PT783oXM125f%2BYEL96BWpwjldrQ7%2FqEaqy3vi8RB8ySB2Ol1SjRvNgvg0nqEsc2FrF7noggXPW4joW5aCKTa9zO6LoSskn%2FaXnVIFUJqzy56Y%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230315T063608Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAXEYM3G4DFNFHSAAZ%2F20230315%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=c837ef79822d8dd00f71c471a6ea72791e8427b48188e787e9c209205976da69" type="video/mp4">
        </video>
<div id="welcome-container">
    <h1 id="welcome-page">PRESENTLY</h1>

    <a class="welcome-btn" href="users/signin">SIGN IN</a> <br><br><br>
    <a class="welcome-btn" href="users/register">SIGN UP</a> <br><br><br>
</div>

</body>
</html>

