<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Presenlty</title>
</head>
<body>
    
    <video id="background-video" autoplay loop muted poster="https://presentlyvideos.s3.us-east-2.amazonaws.com/leaves.jpeg">
        <source src="https://presentlyvideos.s3.us-east-2.amazonaws.com/leaves.mp4" type="video/mp4">
        </video>
<div id="welcome-container">
    <h1 id="welcome-page">PRESENTLY</h1>
    <div class="welcome-btns">
    <a href="users/signin">SIGN IN</a> <br><br><br>
    <a href="users/register">SIGN UP</a> <br><br><br>
</div>
</div>

</body>
</html>

