<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Presenlty</title>
</head>
<body>
    
    <h1>Presently</h1>

    <a href="users/signin">Sign in</a> <br><br><br>
    <a href="users/register">Sign up</a> <br><br><br>

</body>
</html>